body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background: #000000; 
    color: white;
    padding: 10px;
}

header img {
    vertical-align: middle;
}

header h1 {
    display: inline;
    margin-left: 10px;
}

nav {
    padding: 10px;
    text-align: center;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    background: #ff9b28; 
    border-radius: 5px;
    padding: 5px 5px;
}

main {
    overflow: hidden;
    padding: 10px;
}


article {
    background: #f5f7fa;
    padding: 10px;
    margin-bottom: 10px;
}

footer {
    clear: both;
    background: #000000; 
    color: white;
    text-align: center;
    padding: 10px;
}

@media (max-width: 600px) {

    header h1 {
        display: block; 
        margin: 10px 0 0 0;
        font-size: 20px;
    }

    nav a {
        display: block; 
        margin: 5px auto;
        width: 80%;
    }

    article {
        font-size: 14px; 
    }
}
